@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.day-list {
  &__item {
    @include fade;

    color: $white;
    height: 5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid $white;
    h2 {
      font-weight: $medium;
    }
  
    &:hover {
      background-color: $danger-color;
      cursor: pointer;
      color: $white;
      transition: 0.3s;
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $dark-background;

      &:hover {
        background-color: darken($white, 10%);
        color: $dark-background;
      }
    }

    &--full {
      opacity: $inactive-opacity;
    }
  }
}
